
 <div class="container  ">
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
        <div class="col-md-6">
          <img class=" img-fluid p-2" src="https://via.placeholder.com/500x500?text=NoImage" alt="Responsive image">
        </div>
        <div class="col-md-5 mt-2">
          <div class="card">
            <div class="card-heading px-3 border-bottom">
                <p><h4><center>Dokandari</center></h4></p>
              </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
              <large class="text-muted"><b>Sign Up  </b></large>
            </div>

        <form method="post" id="details" ng-submit="formSubmit()" class="form">
          <!-- full name -->
              <div class="input-group mb-3 mt-3">
              <input type="text" class="form-control" ng-model="username" placeholder="User Name" required=""/>	
              <!-- <input type="text" class="form-control" name="name" placeholder="Full Name" id="name" aria-describedby="basic-addon1" required> -->
              <div class="input-group-append">
              <span class="input-group-text  bg-white"> <i class="fa fa-user"></i> </span>
              </div>
              </div>
              <!-- mail -->
              <div class="input-group mb-3">
              <input type="text" class="form-control" ng-model="email" placeholder="email" required=""/>	
             <!-- <input type="email" class="form-control" name="email" placeholder="Email" id="email" aria-describedby="basic-addon2" required> -->
             <div class="input-group-append">
             <span class="input-group-text  bg-white"> <i class="fa fa-envelope"></i> </span>
            </div>
            </div>
            <!-- password -->
            <div class="input-group mb-3">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>	
           <!-- <input type="password" class="form-control" name="password"  placeholder="Password" id="password" aria-describedby="basic-addon3" required> -->
           <div class="input-group-append">
           <span class="input-group-text  bg-white"> <i class="fa fa-lock"></i> </span>
          </div>
          </div>
          <!-- phone number -->
            <div class="input-group mb-3">
           <input type="text" class="form-control" ng-model="phone number" placeholder="phone number" required=""/> 	
          
           <div class="input-group-append">
           <span class="input-group-text  bg-white"> <i class="fa fa-phone"></i> </span>
          </div>
          </div>
        <div class="modal-header">
         
         </div> 
        <div class="modal-body">
          <p>Please Select a Security Question</p>
          <select name="question" class="form-control">
            <option value="What was your first pet name?">What was your first pet name?</option>
            <option value="What was your first teacher name?">What was your first teacher name?</option>
            <option value="Where did your parents met?">Where did your parents met?</option>
            <option value="What was my first crush name?">What was my first crush name?</option>
            <option value="What is my bestfriend name?">What is my bestfriend name?</option> 
          </select>
            <div class="form-group"> 
            <input type="text" name="answer" placeholder="Your Answer" class="form-control mt-3">
            <div class="d-flex justify-content-center mt-3">
            <input class="btn btn-primary btn-block" type="submit" id="submit" value="Sign Up">
            </div>
            </form>
                <div class="d-flex justify-content-center mt-2">
                <p><small class="text-muted"><center>By signing up, you agree to our Terms , Data Policy and Cookies Policy . </center></small></p>
              </div>
      <!--  have account -->
                <center class="mt-2">
                  <p>Have an account?<a href="/#/login" class=" mt-3 ml-1"><b>Log in</b></a></p>
                </center>
             </div>
          </div>
        </div>
       
        </div><!--row div-->
       
      </div>
    </div><!--card div-->
  </div> <!--container div-->
</div>








