 <div class="container">
        
        <div class="col-md-5 mt-2" style="    margin-left: 308px;   margin-top: 3.5rem!important;">
          <div class="card" style="line-height: 28px!important;">
            <div class="card-heading px-3 border-bottom">
                <p><h2 style="color: #5296d9;"><center>Dokandari</center></h2></p>
              </div>
              <div class="card-body">
            <div class="d-flex justify-content-center">
              <large class="text-muted"><b>Enter New Password  </b></large>
            </div>
              <div class="input-group mb-3">
              <input type="text" class="form-control" ng-model="password" placeholder=" Password " required=""/>  
             
             <div class="input-group-append">
             <span class="input-group-text  bg-white"> <i class="fa fa-key"></i> </span>
            </div>
            </div>
           <div class="input-group mb-3">
              <input type="text" class="form-control" ng-model="confirm password" placeholder="Confirm Password " required=""/>  
             
             <div class="input-group-append">
             <span class="input-group-text  bg-white"> <i class="fa fa-key"></i> </span>
            </div>
            </div>
            <div class="modal-body">
          <p>Please Select a Security Question</p>
          <select name="question" class="form-control">
            <option value="What was your first pet name?">What was your first pet name?</option>
            <option value="What was your first teacher name?">What school did you attend?</option>
            <option value="Where did your parents met?">In what city were you born?</option>
            <option value="What was my first crush name?">In what town or city was your first full time job?</option>
            <option value="What is my bestfriend name?">What is my bestfriend name?</option> 
          </select>
            <div class="form-group"> 
            <input type="text" name="answer" placeholder="Your Answer" class="form-control mt-3">
           </div>  

         </form>
            <div class="form-group"style="    margin-left: 291px;">
            <div class="btn btn-primary " title="">Submit</div>
          </div>
       </form>
       
       </div>
     </div>
   </div>
 </div>



     